body
{
  background-color:rgb(26, 26, 26);
  font-family: monospace;
  color: white;
}

.center
{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.hoverableImage
{
  border-radius: 20px;
  transition: border-radius 200ms;
}

.hoverableImage:hover
{
  border-radius: 1px;
}

.buttonstyle
{
  background-color: white;
  border-radius: 10px;
  font-style: normal;
  text-decoration: none;
  font-size:x-large; 
  padding: 3px;
  margin-bottom: 1000px;
  transition: border-radius 200ms;
}

.buttonstyle:hover
{
  border-radius: 4px;
}

.buttonstyle:active
{
  border-radius: 15px;
  background-color: lightgray;
}