*, *:before, *:after {
  box-sizing: inherit;
}

body
{
  background-color:rgb(26, 26, 26);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.center
{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}


.buttonstyle
{
  background-color: rgb(72, 72, 72);
  border-radius: 10px;
  font-style: normal;
  text-decoration: none;
  font-size:x-large; 
  padding: 5px 7px;
  transition: border-radius 200ms;
}

.buttonstyle:hover
{
  border-radius: 4px;
}

.buttonstyle:active
{
  border-radius: 15px;
  background-color: rgb(53, 53, 53);
}

.myList
{
  text-align: start; 
  
  margin-bottom: 10px;
  background-color: rgb(224, 237, 241);
  color:rgb(29, 29, 29); 
  
  border-radius: 30px;
}

.hoverableImage
{
  float: left;
  
  border-radius: 20px;
  width: 50%;
  transition: border-radius 200ms;
}

.hoverableImage:hover
{
  border-radius: 1px;
}

@media screen and (max-width: 700px) {
  .hoverableImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    width: 100%;
  }
}
@media screen and (min-width: 701px) {
  .hoverableImage {
    width: 50%;
    
  }
}

.myList:hover
{
  border-radius: 10px;
}
