*, *:before, *:after {
  box-sizing: inherit;
}

body
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
    
    ),
    url(Images/bacround.jpg);
    background-position: center;
    background-attachment: fixed;
}

.center
{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.buttonstyle
{
  background-color: rgba(30, 32, 32, 0.377);
  border-radius: 10px;
  font-style: normal;
  text-decoration: none;
  font-size:x-large; 
  padding: 5px 7px;
  transition: border-radius 200ms;
}

.buttonstyle:hover
{
  border-radius: 4px;
  background-color: rgba(75, 75, 75,0.377);
}

.buttonstyle:active
{
  border-radius: 15px;
  background-color: rgba(22, 22, 22, 0.5);
}

.myList
{
  text-align: start; 
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  background-color: rgba(224, 237, 241, 0.199);
  color:rgb(223, 223, 223); 
  text-shadow: black 2px;
  outline-width: 2px;
  outline-offset: 0px;
  outline-color: rgba(198, 228, 241, 0.418);
  outline-style: solid;

  border-radius: 30px;
}

.simplfamillylogo
{
  position: fixed; 
  z-index: 3;
}

.hoverableImage
{
  float: left;
  
  border-radius: 20px;
  width: 50%;
  transition: border-radius 200ms;
}

.discordtext
{
  font-size: larger;
}

.downloads{
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;

}

.simplaudiologo
{
  width: 50%;
  height: auto;
  max-width: 450px;
  display: block;
  float: none;
}

@media screen and (max-width: 700px) {
  .hoverableImage {
    display: block;
    margin-left: auto;

    margin-right: auto;
    width: 100%;
  }
  .simplfamillylogo {
    width: 15%;
    max-width: 80px;
    height: auto;
  }
}
@media screen and (min-width: 701px) {
  .hoverableImage {
    width: 49%;
    
  }
  .discordtext{
    font-size: xx-large;
  }
}
